<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>49498117641-n1k6tau9bqbqigcb5ousck4el4sdompp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.49498117641-n1k6tau9bqbqigcb5ousck4el4sdompp</string>
	<key>API_KEY</key>
	<string>AIzaSyB3FES7n4CMLHdKuFruNr3ad5AHk7yCVDo</string>
	<key>GCM_SENDER_ID</key>
	<string>49498117641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.limbo.WineBook</string>
	<key>PROJECT_ID</key>
	<string>winebook-45eea</string>
	<key>STORAGE_BUCKET</key>
	<string>winebook-45eea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49498117641:ios:649c8e732b35ae85934ad8</string>
	<key>DATABASE_URL</key>
	<string>https://winebook-45eea.firebaseio.com</string>
</dict>
</plist>